<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting type="lsep" label="General Settings" />
  <setting id="Username" type="text" label="Username" default="" />
  <setting id="Password" type="text" option="PAssword" label="30906" default="" />

	<setting type="lsep" label="Submission options" />
	<setting id="NotifyOnSubmit" type="bool" label="Display submission message" default="true" />
	<setting id="VideoThreshold" type="enum" label="Submit after watching XX%" values="25%|75%" default="1" />
</settings>
